.card {
  max-width: 413px;
  max-height: 445px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
}
.card__title {
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 0;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}
.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__like-button {
  background-image: url(../images/like--.svg);
  width: 23px;
  height: 20px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  margin-top: 12px;
  padding: 0;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/likedredbutton.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__title {
    max-width: 265px;
    line-height: 100%;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
  }
  .card__title {
    max-width: 265px;
  }
}
