.modal {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-button {
  position: absolute;
  top: 14px;
  right: 12px;
  height: 40px;
  width: 40px;
  border: none;
  background: transparent;
}

.modal__title {
  margin: 0 0 32px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
}
.modal__input {
  display: block;
  width: 100%;
  padding: 16px 12px;
  border-radius: 9px;
  color: #212121;
  margin: 8px 0 0;
  box-sizing: border-box;
  border: 1px solid #21212166;
}
.modal__submit-button {
  background: #212121;
  color: #fff;
  cursor: pointer;
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
}
.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.4);
}
.modal__submit-button {
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  background: #212121;
  color: #fff;
}
@media screen and (max-width: 630px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__submit-button {
    max-width: none;
  }
  .modal__close-button {
    width: 40px;
  }
}
