.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.modal_is-opened {
  visibility: visible;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}
.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  background: transparent;
}

.modal__title {
  margin: 0 0 32px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
}
.modal__input {
  display: block;
  width: 100%;
  padding: 16px 12px;
  max-width: 630px;
  border-radius: 9px;
  color: #21212166;
  opacity: 40%;
}
.modal__submit-button {
  background: #212121;
  color: #fff;
  cursor: pointer;
  padding: 18px 32px;
  width: 156px;
  border-radius: 8px;
}
.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.4);
}
.modal__submit-button {
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  background: #212121;
  color: #fff;
}
@media screen and (max-width: 300px) {
}
.modal {
}
