.modal {
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease,
    visibility 0.5s;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close {
  top: 36px;
  right: 50px;
  position: absolute;
  height: 40px;
  width: 40px;
  border: none;
  background: transparent url("../images/closebutton_light.svg") center
    no-repeat;
  background-size: 35px 35px;
  cursor: pointer;
}
.modal__close:hover {
  background: transparent url("../images/close_Icon.svg") center no-repeat;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 33, 33, 1);
  padding: 4px 8px;
  display: inline-block;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
}
.modal__input {
  display: block;
  width: 100%;
  padding: 16px 12px;
  border-radius: 9px;
  color: #212121;
  margin: 8px 0 0;
  box-sizing: border-box;
  border: 1px solid #21212166;
}
.modal__submit-button {
  background: #212121;
  color: #fff;
  cursor: pointer;
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
}
.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.4);
}
.modal__close_type_preview {
  top: 0;
  color: rgba(255, 255, 255, 1);
  right: -52.5px;
}

.modal__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}
.modal__caption {
  color: white;
}

.modal__submit-button {
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  max-width: 156px;
  height: 52px;
  background: #212121;
  color: #fff;
  border: none;
}

@media screen and (max-width: 630px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__submit-button {
    max-width: none;
  }
  .modal__close-button {
    width: 40px;
  }
}
@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: 288px;
  }
}
