.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  margin-bottom: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  align-items: flex-start;
  justify-content: space-between;
}

.profile__description {
  margin: 0 0 32px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  opacity: 0.7;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__add-button {
  margin-top: auto;
  padding: 18px 24px 18px 32px;
  border-radius: 8px;
  background: #212121;

  color: #fff;
  font-size: 16px;
  margin-left: auto;
  flex: 0 0 auto;
  line-height: 100%;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.profile__add-icon {
  margin-right: 8px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}
.profile__edit-button {
  background-color: transparent;
  line-height: 100%;
  font-size: medium;
  font-weight: 500;
  color: #212121;
  cursor: pointer;
  opacity: 0.7;
  border: none;
  margin-top: auto;
  padding: 0;
}
.profile__edit-button:hover {
  padding: 0;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0px;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
    margin-top: 12px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__add-button {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
    padding: 18px 32px;
    width: 288px;
  }
  .profile__edit-button {
    margin-bottom: 20px;
    width: 137.34px;
    margin-top: auto;
    opacity: 70%;
    line-height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
  }
}
